@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
body {
    font-family: "Roboto", sans-serif;
}

nav {
    font-weight: bolder;
}

.App {
    text-align: center;
}